@import "tailwindcss";
@plugin "daisyui";

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
main {
  flex: 1;
}
.wrapper {
  display: flex;
}
